@font-face {
  font-family: "MPLUSRounded-Bold";
  src: url(../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../../fonts/Open_Sans/static/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../../fonts/Open_Sans/static/OpenSans_Condensed-Bold.ttf);
}
