@import "./fonts";
$primary_color: #bb2339;
$text_color: #242424;
$card_text_color: #333333;
$gray_color: #aaaaaa;
$white_color: #ffffff;
$primary_font: "MPLUSRounded-Bold";
$Inter_font: "Inter-Regular";
$OpenSans_font: "OpenSans-Regular";
$OpenSans-Bold: "OpenSans-Bold";
$Regular: "Regular";
